body {
    background: #F1F1EC;
    padding: 0;
    margin: 0;
}

/*HEADER*/
#headerContainer {
    border-bottom: 1px solid #c0c0c0;
}

/*LOGO*/
#logoText {
    font-family: Verdana, serif;
    font-variant: small-caps;
    font-size: 2em;
    color: #808080;
    text-decoration: none;
    font-weight: bold;
}

#logoText:hover {
    color: #4c8052;
}

#logoText span {
    color: #4c8052;
}

#logoTextContainer {
    border-right: 1px solid #c0c0c0;
    margin: 4px 0;
}

/*SLOGAN*/
#sloganText {
    font-family: Verdana, serif;
    font-variant: small-caps;
    font-size: 1.5em;
    color: #808080;
    margin: 9px 0 0 0;
    padding: 0;
}

#sloganText span {
    font-size: 1em;
    color: #4c8052;
}

#pageLikeBox {
    padding: 12px 0;
}

/*VIDEO*/
#videoOuterContainer {
    background-color: #dfdfdf;
    margin-top: 20px;
    padding: 0;
    width: 700px;
    height: 600px;
}

#videoLeftContainer, #videoRightContainer, #videoLeftSpace {
    width: 50px;
    height: 600px;
    color: #4c8052;
    font-family: Verdana, serif;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
}

#videoLeftContainer div, #videoRightContainer div {
    padding-top: 290px;
}

#videoLeftContainer, #videoLeftSpace {
    float: left;
}

#videoRightContainer {
    float: right;
}

#videoLeftLink, #videoRightLink {
    text-decoration: none;
}

#videoLeftLink:hover #videoLeftContainer, #videoRightLink:hover #videoRightContainer {
    background-color: #4c8052;
    color: #fff;
}

#videoInnerContainer {
    width: 600px;
    height: 600px;
    background-size: 100% auto;
    float: left;
}

#videoSocial {
    margin: 10px 50px;
    height: 35px;
}

#videoSocial div.facebook {
    float: left;
}

#videoSocial div.google {
    padding: 2px 0;
    float: left;
}

#videoSocial div.twitter {
    float: left;
    padding: 0 40px 0 50px;
}

#videoInfoContainer {
    margin: 10px 50px;
}

#videoInfoTitle {
    font-family: Verdana, serif;
    font-size: 1.2em;
    color: #575757;
    line-height: 1.4em;
}

#videoInfoAuthor, #videoInfoAuthor a {
    font-family: Verdana, serif;
    font-size: 0.9em;
    color: #585858;
    text-decoration: none;
}

#videoInfoAuthor a:hover {
    color: #fff;
    background-color: #4c8052;
}

/*ADS*/
#horizontalAdContainer {
    margin: 0 116px;
}

#squareAdContainer {
    margin: 20px 10px 10px 10px;
}

#verticalAdContainer {
    margin: 20px 30px;
}

/*FEATURED BAR*/
#featuredVideos {
    list-style: none;
    margin: 0;
    padding: 0;
}

#featuredVideos li {
    margin: 10px 0;
}

#featuredVideos a {
    text-decoration: none;
}

#featuredVideos a img {
    border: none;
    float: left;
}

#featuredVideos a div.container {
    background-color: #dfdfdf;
    color: #575757;
    height: 60px;
}

#featuredVideos a:hover div.container {
    background-color: #4c8052;
    color: #e2e2e2;
}

#featuredVideos a div.container span.title {
    float: left;
    font-family: Verdana, serif;
    font-weight: bold;
    font-size: .7em;
    max-height: 1.9em;
    line-height: 1.2em;
    padding: 5px;
    overflow: hidden;
    width: 150px;
}

#featuredVideos a div.container span.author {
    float: left;
    font-family: Verdana, serif;
    font-size: .6em;
    max-height: .6em;
    padding: 5px;
    overflow: hidden;
    width: 150px;
}

#commentsContainer {
    margin: 20px 50px;
}




