<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) 2013 by Andrew Szell (coldcue@gmail.com) and                ~
  ~ Adrian Szell (szelladrian@gmail.com)                                      ~
  ~                                                                           ~
  ~ All rights reserved. No part of this code may be reproduced, distributed, ~
  ~ or transmitted in any form or by any means, including photocopying,       ~
  ~ recording, or other electronic or mechanical methods, without the prior   ~
  ~ written permission of the owner.                                          ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <!--    &lt;!&ndash;FirewallFilter&ndash;&gt;
        <filter>
            <filter-name>firewallFilter</filter-name>
            <filter-class>com.vine4you.filter.FirewallFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>firewallFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>-->

    <!--    &lt;!&ndash;StaticServlet&ndash;&gt;
        <servlet>
            <servlet-name>staticServlet</servlet-name>
            <servlet-class>com.vine4you.servlet.StaticServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>staticServlet</servlet-name>
            <url-pattern>/s/*</url-pattern>
        </servlet-mapping>-->

    <!--IndexServlet-->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.vine4you.servlet.IndexServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!--VideoServlet-->
    <servlet>
        <servlet-name>VideoServlet</servlet-name>
        <servlet-class>com.vine4you.servlet.VideoServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VideoServlet</servlet-name>
        <url-pattern>/v/*</url-pattern>
    </servlet-mapping>

    <!--SiteMapServlet-->
    <servlet>
        <servlet-name>SiteMapServlet</servlet-name>
        <servlet-class>com.vine4you.servlet.SiteMapServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SiteMapServlet</servlet-name>
        <url-pattern>/sitemap.xml</url-pattern>
    </servlet-mapping>

    <!--ImportServlet-->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.vine4you.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>


    <!--CronServlet-->
    <servlet>
        <servlet-name>CronServlet</servlet-name>
        <servlet-class>com.vine4you.servlet.CronServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CronServlet</servlet-name>
        <url-pattern>/cron/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>cron</web-resource-name>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
